{% extends 'app_main/base.html' %}
{% block title %}Index{% endblock %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment Opportunities</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="main-div">
        <div class="div-text">
            <div class=" text">
                <h2>"Invest smartly and discover <br>  new opportunities to grow your wealth."</h2>
                <p>"Our platform is a unique destination for smart digital investments<br> offering innovative tools and insights to help you grow your wealth with confidence."</p>
                <a href="#signup" class="btn">Sign Up as Investor</a>
            </div>
        </div>
        <div class="img-div">
            <img src="/static/img/coin.svg" alt="">
        </div>

        <div class="container mt-2">
            <h3 class="text-center">Investment Opportunities</h3>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="material-symbols-outlined" width="100">query_stats</span> 
                    <h5>Explore Investments</h5>
                    <p>Find new opportunities and grow your portfolio.</p>
                </div>
                <div class="col-md-4">
                    <span class="material-symbols-outlined" width="100">autorenew</span>
                    <h5>Promising Returns</h5>
                    <p>Invest in campaigns and enjoy rewarding profits.</p>
                </div>
                <div class="col-md-4">
                    <span class="material-symbols-outlined" width="100">trackpad_input</span>
                    <h5>Track Your Investments</h5>
                    <p>Manage and monitor your investments easily.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <h3 class="text-center">Funded Companies</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="https://d2qzln17el2rfy.cloudfront.net/equities/campaign-662a54a8a731729dc7ac0444-1719932414334.jpg" class="img-fluid">
                <p><strong>ROI: 14% </strong><i class="sicon-sar"></i></p>
            </div>
            <div class="col-md-4">
                <img src="https://d2qzln17el2rfy.cloudfront.net/equities/campaign-662a54a8a731729dc7ac0444-1720192283696.jpg" class="img-fluid">
                <p><strong>ROI: 15%</strong></p>
            </div>
            <div class="col-md-4">
                <img src="http://img.youtube.com/vi/DzVAv0nS6y8/0.jpg" class="img-fluid">
                <p><strong>ROI: 14%</strong></p>
                <h4 class="s-product-card-price">3.95 <i class="sicon-sar"></i></h4>
            </div>

            <section class="section section-light-bg " id="RiskDisclosures">
                <div class="container text-center " >
                  <div class="row justify-content-center">
                    <div class="col-md-10">
                      <div class="bg-warning p-4 rounded shadow-sm bg-white">
                        <h4 class="text-dark">Risk Disclosure</h4>
                        <p class="text-dark">
                          Investing through our crowdfunding platform carries high risks, including potential loss of capital 
                          and difficulty in liquidating investments. Please conduct thorough research and consult a financial advisor before making investment decisions.
                        </p>

                          <div class="container mt-5 text-center ">
                                <button  class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#riskModal">
                                    <i class="fas fa-exclamation-triangle mr-2"></i> Risk Disclosures
                                </button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>


            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="riskModal" tabindex="-1" aria-labelledby="riskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="riskModalLabel">Risk Disclosures</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark ">
                            <h6>Introduction</h6>
                            <p>We at Namaa are committed to transparency for both investors and projects. However, investing through the Namaa crowdfunding platform carries a number of risks that all parties should consider before making investment decisions.</p>
                            
                            <h6>Investment Risks</h6>
                            <ul>
                                <li><strong>Capital Loss:</strong> There is a significant risk of losing part or all of the invested capital, as startups carry higher risks compared to large and stable companies.</li>
                                <li><strong>Lack of Liquidity:</strong> Investments in startups are often illiquid, meaning you may not be able to sell or convert your investment into cash anytime soon.</li>
                                <li><strong>Business Failure:</strong> The company may fail to achieve its objectives or commercial success, leading to a loss of investment.</li>
                            </ul>
                            
                            <h6>Market Risks</h6>
                            <ul>
                                <li><strong>Market Volatility:</strong> Changes in economic market conditions can negatively impact the company's performance and ability to generate profits.</li>
                                <li><strong>Competition:</strong> The company may face intense competition from other firms, affecting its market share and profitability.</li>
                            </ul>
                            
                            <h6>Legal Risks</h6>
                            <ul>
                                <li><strong>Intellectual Property Issues:</strong> The company may face legal claims related to intellectual property rights, leading to high legal costs and negative impacts on the project.</li>
                            </ul>
                            
                            <h6>Disclaimer</h6>
                            <p>These disclosures do not cover all potential risks associated with investing through the Namaa crowdfunding platform. Investors should conduct their own research and consult a qualified financial advisor before making any investment decision.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
              
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
