*{
    margin: 0%;
    padding: 0%;
}
.btn {
    background-color: #F5CA41;
    color: #000;
}
.banner {
    background: url('https://d2qzln17el2rfy.cloudfront.net/sliders/en-slider-5fe974821cf6a22ef8cd3224-1699356856034.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
body{
     background-color: #006c48;
     color: white;
}
